<ion-app>
  <ion-router-outlet>
    <p>
      Please Login To continue {{ data }}
    </p>
  <div >
    <button (click)="login()"> Login</button>
    <button (click)="refreshToken()">Refresh Token</button>
  </div>
  </ion-router-outlet>
</ion-app>